*,*::before , *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , 'sans-serif';
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/gradient-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}
.current-player{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: 3rem;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
    cursor: pointer;

}
.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    aspect-ratio: 1/1;
    /* grid-gap: 2px; Add some gap between cells */
    padding: 15px; /* Add padding to inset the grid */
    
}
.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in-out;

}
.box1,.box2,.box5,.box4{
    border-bottom: 2px solid white;
    border-right: 2px solid #fff;
}

.box3,.box6{
    border-bottom: 2px solid #fff;
}

.box7,.box8{
    border-right: 2px solid #fff;
}
.btn{
    color: white;
    position: absolute;
    bottom: 3rem;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 2rem;
    cursor: pointer;
    display: none;

}
.btn.active{
    display: flex;
}
.win{
    background-color: green;
}
